* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: bold;
}

body {
  background-color: #9fecb9;
}

.todo {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #24ab52;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #209647;
  color: #fff;
  font-weight: bold;
}

.todo button {
  max-width: 75px;
  padding: 10px;
  margin: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #24ab52;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.todo button:hover {
  background-color: #209647;
  color: #fff;
  border: none;
  transform: scale(1.1);
}

.todo-form {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #24ab52;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #209647;
  color: #fff;
  font-weight: bold;
}

.todo-input {
  width: 85%;
  padding: 10px;
  margin: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #24ab52;
  font-weight: bold;
  transition: 0.3s;
  outline: none;
}

.todo-button {
  max-width: 105px;
  padding: 10px;
  margin: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #24ab52;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.todo-button:hover {
  background-color: #209647;
  color: #fff;
  border: none;
  transform: scale(1.1);
}

#title-todo {
  text-align: center;
  padding: 10px;
  margin: 3px;
  color: #24ab52;
  font-weight: bold;
  font-size: 72px;
}